0 fundrrs

<%= link_to('New Fundrr', new_fundrr_path) %>


<!--<%# if @fundrrs.any? %>-->
<!--  <table>-->
<!--    <thead>-->
<!--      <tr>-->
<!--        <th>title</th>-->
<!--        <th>description</th>-->
<!--        <th>start_date</th>-->
<!--        <th>duration</th>-->
<!--        <th>fundrr_goal</th>-->
<!--      </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--      <%# @fundrrs.each do |fundrr| %>-->
<!--        <tr>-->
<!--          <td><%#= fundrr.title %></td>-->
<!--          <td><%#= fundrr.description %></td>-->
<!--          <td><%#= fundrr.start_date %></td>-->
<!--          <td><%#= fundrr.duration %></td>-->
<!--          <td><%#= fundrr.fundrr_goal %></td>-->
<!--        </tr>-->
<!--      <%# end %>-->
<!--    </tbody>-->
<!--  </table>-->
<!--<%# end %>-->